@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Marcellus', serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.app-container {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  min-width: 100%;
  padding: 15px 0;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.light-header {
  background-color: white;
}
.light-header .left-sec ul li a,
.light-header .download-cv,
.light-header i,
.light-header .logo {
  color: #000000 !important;
}

.light-header .left-sec ul li a::before {
  background-color: #000000 !important;
}
.light-header .dark-mode-toggle {
  background-color: #909090;
}

.logo {
  font-family: "Marcellus", serif;
  color: white;
  font-size: 1.5em;
  margin-left: 30px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.left-sec {
  height: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sec ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.left-sec ul li {
  padding: 10px 0px;
  overflow: hidden;
}
.left-sec ul li a {
  border: none;
  outline: none;
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 5px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.left-sec ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateX(-75px);
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.left-sec ul li:hover a::before {
  transform: translateX(0px);
}

.left-sec a i {
  color: white;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
}

.dark-mode-toggle {
  position: relative;
  height: 20px;
  width: 35px;
  background-color: #303030;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.toggle-btn {
  position: absolute;
  height: 100%;
  width: 55%;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.dark-off {
  background-color: #000000 !important;
  transform: translateX(16px);
}
.dropdown-menu {
  position: absolute;
  right: 4rem;
  top: 60px;
  height: 0px;
  background-color: #000000;
  width: 350px;
  backdrop-filter: blur(15px);
  padding: 0px 20px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: block;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
header .dropdown-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}
header .dropdown-menu ul li {
  padding: 10px 0px;
  overflow: hidden;
}
header .dropdown-menu ul li a {
  border: none;
  outline: none;
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 5px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.light-header .dropdown-menu {
  background-color: transparent;
}
.light-header .dropdown-menu a {
  color: #000000;
}

.toggle-bar {
  color: white;
  font-size: 1.5rem;
  margin: 0 20px 0 0;
  display: none;
  cursor: pointer;
}

.open {
  height: 400px;
}
/*hero's background */

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  overflow: hidden;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
.hero img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}
/*  */

.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.cv {
  z-index: 1;
  position: relative;
  color: white;
  padding: 0.5em 0em;
  outline: none;
  border: none;
  background-color: #000000;
  overflow: hidden;
  border-radius: 25px;
  transition: color 0.4s ease-in-out;
}

.cv::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.35em;
  height: 1em;
  border-radius: 50%;
  background-color: #ffffff;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.cv:hover {
  cursor: pointer;
  color: #000000;
}

.cv:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.cv a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  font-family: "Marcellus", serif;
  transition: color 0.3s ease-in-out;
  width: 100%;
  padding: 10px 32px;
}
.cv a:hover {
  color: #000000;
}

.hero .info {
  position: absolute;
  z-index: 10;
  top: 250px;
  left: 150px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-family: "Marcellus", serif;
}

.info p {
  font-size: 1.5rem;
}

.info h2 {
  font-size: 3rem;
}

.info h3 {
  font-size: 2rem;
}

.light-hero .cv {
  background-color: #fff;
}

.light-hero .cv::before {
  background-color: #000000;
}

.light-hero .cv:hover {
  color: #fff;
}

.light-hero .cv a {
  color: #000000;
}
.light-hero .cv a:hover {
  color: #fff;
}

.about {
  width: 100%;

  padding-top: 60px;
}

.section-title {
  font-family: "Marcellus", sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  margin-bottom: 50px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.about .infos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about .infos .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 300px;
  min-width: 300px;
  height: 420px;
  border-radius: 25px;
  box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.326);
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;

  transition: 0.3s ease-in-out;
}
.about .infos .info h3 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.about .info p {
  font-size: 1rem;
  font-family: "Marcellus", serif;
  transition: 0.3s ease-in-out;
}

.about .info:hover {
  transform: scale(1.04);
}

.about .info .data {
  font-size: 1.2rem;
}
.about .info i {
  font-size: 7rem;
  color: black;
  margin: 20px 0px;
  transition: 0.3s ease-in-out;
}

.about .info .social-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.about .info .social-links ul li {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #000000;
  box-shadow: 5px 5px 25px rgba(1, 1, 1, 15%);
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.about .info .social-links ul li a i {
  color: #fff;
  font-size: 3rem !important;
  transition: color 0.3s ease-in-out;
}
.social-links ul li a .fa-facebook:hover {
  color: #3b5998 !important;
}
.social-links ul li a .fa-github:hover {
  color: #666565 !important;
}
.social-links ul li a .fa-google:hover {
  color: #c71610 !important;
}
.social-links ul li a .fa-linkedin:hover {
  color: #0072b1 !important;
}

.light-about .section-title {
  color: #000000;
}

.light-about .info {
  background-color: #000000 !important;
  box-shadow: 5px 5px 25px rgba(1, 1, 1, 15%) !important;
}

.light-about .info .social-links i {
  color: #000000 !important;
}

.light-about i,
.light-about h3,
.light-about p {
  color: #fff !important;
}
.light-about .info .social-links ul li {
  background-color: #fff;
}
#skills {
  width: 100%;

  padding: 60px 0;
}

#skills .skills-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .skills-div ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
#skills .skills-div .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 145px;
}

#skills .skills-div ul li {
  display: inline-block;
  width: 120px;
  height: 120px;
  min-width: 120px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
#skills .skills-div ul li h3 {
  font-family: "Marcellus", serif;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

#skills .skills-div ul li img {
  width: 70px;
  height: 70px;
  transition: 0.3s ease-in-out;
}

#skills .skills-div ul li i {
  font-size: 3rem;
  margin-bottom: 13px;
}

.light-skills .skills-div ul li {
  background-color: #000 !important;
}

.light-skills ul li i,
.light-skills ul li h3 {
  color: #fff !important;
}
#skills .skills-div ul li:hover {
  transform: scale(1.04);
  cursor: pointer;
}

#projects {
  width: 100%;
  padding: 60px 0;
}

.light-projects .section-title {
  color: #000;
}

#projects .projects-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

#projects .projects-div .prj {
  width: 450px;
  height: 400px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
#projects .projects-div .prj:hover {
  transform: scale(1.04);
}
#projects .projects-div .prj img {
  width: 95%;
  border-radius: 15px;
  margin-top: 10px;
}

#projects .projects-div .prj .desc {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
#projects .projects-div .prj .desc h2 {
  font-family: "Marcellus", serif;
  color: #000;
  font-size: 2.2rem;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}
#projects .projects-div .prj .desc p {
  font-family: "Marcellus", serif;
  color: #6a6a6a8c;
  font-size: 1.1Srem;
  transition: 0.3s ease-in-out;
}

.light-projects .projects-div .prj {
  background-color: #000 !important;
}

.light-projects .projects-div .prj h2 {
  color: #fff !important;
}
.light-projects .projects-div .prj p {
  color: #ffffffa0 !important;
}

#contact {
  margin-top: 100px;
  width: 100%;

  background-color: #fff;
  padding: 35px 0;
  transition: 0.3s ease-in-out;
}

#contact .contact-me {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact .social-links ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
#contact .social-links ul li a i {
  font-size: 2rem;
  color: #000;
  transition: 0.3s ease-in-out;
}
#contact .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact .info p {
  font-size: 1.2rem;
  font-family: "Marcellus", serif;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
}
#contact .info p i {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: 0.1s ease-in-out;
}

#contact h2 {
  font-family: "Marcellus", serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
}
#contact nav {
  width: 100%;
}
#contact nav ul {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#contact nav ul li {
  overflow: hidden;
}
#contact nav ul li a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-family: "Marcellus", serif;
  transition: 0.3s ease-in-out;
}

#contact nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: translateX(-186px);
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

#contact nav ul li:hover a::before {
  transform: translateX(0px);
}

.light-contact {
  background-color: #000 !important;
}

.light-contact .social-links ul li a i {
  color: #fff !important;
}
.light-contact nav ul li a {
  color: #fff !important;
}
.light-contact nav ul li a::before {
  background-color: #fff !important;
}
.light-contact .info p {
  color: #fff !important;
}

.light-contact .info p i {
  color: #fff !important;
}

.light-contact h2 {
  color: #fff !important;
}
@media screen and (max-width: 950px) {
  #skills .skills-div .row {
    gap: 75px;
  }
  #contact .contact-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #contact .info p {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  header .left-sec {
    display: none;
  }
  .toggle-bar {
    display: block;
  }
  .hero .info {
    left: 65px;
  }
  #skills .skills-div .row {
    gap: 45px;
  }
}

@media screen and (max-width: 480px) {
  header .dropdown-menu {
    right: 1rem;
  }

  .hero .info {
    left: 8%;
    align-items: center;
  }
  .hero .info h2 {
    font-size: 2.5rem;
  }
  .hero .info h3 {
    font-size: 1.5rem;
  }

  .about .info {
    margin-bottom: 40px;
  }
  #skills .skills-div .row {
    flex-wrap: wrap;
  }
  #projects .projects-div .prj {
    width: 320px;
    height: 300px;
  }
  #contact nav ul li a {
    font-size: 1.3rem;
  }
  #contact .info p {
    font-size: 0.9rem;
  }
}

.light-skills .section-title {
  color: #000;
}
